@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.container h2{font-family:'outfit' , sans-serif;
font-weight:700;
padding:10px 20px;
color:var(--dark-blue) ;}

.container p{font-family:'Outfit', sans-serif;
font-weight:400;padding: 10px 20px;
color:var(--light-blue);}

:root {--White: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--light-blue: hsl(216, 15%, 48%);
--dark-blue : hsl(218, 44%, 22%);}

*{margin:0px;
padding:0;
box-sizing: border-box;
    
   }

body{font-family:'Outfit', sans-serif;
    font-size:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;);
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    background-color: var(--light-gray);
   margin: 1.25rem;
   } 

 .container img{border-radius: 15px;
  margin-bottom: 1rem;
  }



.container {
  background-color: var(--White);
  border-radius: 15px;
  padding: 1.25rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  max-width: 360px;
  text-align: center;
  

  
}



img {max-width: 100%;}




  .attribution { font-size: 11px; text-align: center; }
 .attribution a { color: hsl(228, 45%, 44%); }



 